@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/Roboto-Thin.ttf)
}
*{
  font-family: 'RobotoMono', monospace;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
  background: #333
}

